name: python 
on:
  push:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: npm install
    - name: Build Project 
      run: npm run build
    - name: Test with pytest
      run: pytest
